@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DataKeeper Analytics</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Report" asp-action="Index">
            Go to Report Consultation
        </a>
    </p>
    <p>
        <a class="btn btn-primary" asp-controller="ClusteringAnalysis" asp-action="Index">
            Go to Report Analytics
        </a>
    </p>
</div>