@{
        ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Welcome to DataKeeper Analytics</h1>

    <div class="button-container">
        <a class="btn btn-primary" asp-controller="Report" asp-action="Index">
            Go to Report Consultation
        </a>
        <a class="btn btn-primary" asp-controller="ClusteringAnalysis" asp-action="Index">
            Go to Report Analytics
        </a>
    </div>
</div>
